

<div class="container">

    <div class="row mt-5">
        <div class="col-6">
            
            <input type="text" 
                class="form-control"
                [(ngModel)]="item"
                (keyup.enter)="onEnter()"
                placeholder="Add new item to the list">
        </div>
        <div class="col-4">
            <button class="btn btn-sm btn-primary" (click)="addItem()">
                <i class="bi bi-plus-lg"></i>Add
            </button>
        </div>
    </div>
    <ng-template #itemContainer></ng-template>
</div>
